<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= link_to "こんにちは、#{current_user.name}さん", user_path(current_user), class: :greeting__link%>
      </div>
    <% end %>
    <div class="card__wrapper">
      <% if @prototypes.any? %>
        <%= render partial: "prototypes/prototype", collection: @prototypes %>
      <% else %>
        <p>まだプロトタイプが登録されていません/p>
      <% end %>
    </div>
  </div>
</main>
